:root {  
     --huisstijl-kleur: #FFB700; 
     --zwarte-headings: black;
     --secondary-color: white;
     --hover-color: #a97a03; 
     --focus-color: aqua;
     --text-color: black;
     --kopjes-color: black;
     --heading-color: white;
     --button-color: white;
     --date-color: gray;
     --second-button: rgb(99, 99, 99);
     --afbeelding-knop: #C4C4C4;
     --active-knop: #3e8e41;
} 

@media (prefers-color-scheme:dark) {   
    :root {     
        --huisstijl-kleur: #A12A6F; 
        --zwarte-headings: #00002F;
        --secondary-color: #333333;
        --hover-color: #94158B; 
        --focus-color: #1934FF;
        --text-color: white;
        --kopjes-color: white;
        --date-color: lightgray;
        --heading-color: white;
        --afbeelding-knop: rgb(99, 99, 99);
        --active-knop: #3e8e41;
    } 
} 

/* 
var(--huisstijl-kleur)
var(--zwarte-headings)
var(--secondary-color)
var(--hover-color)
var(--focus-color)
var(--text-color)
var(--kopjes-color)

*/

*, *::after, *::before {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    }


body{
    margin: 0;
    background-color: var(--secondary-color) ;
}

 body p:nth-of-type(1) {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4em;
    color: var(--text-color);
    text-align: center;
    padding: 2em;
    position: relative;
    z-index: 90;
} 

header ul a:nth-of-type(1) {
    text-decoration: none;
    list-style: none;
    color: var(--button-color);
    padding: 0.4em;
    line-height: 2;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header ul:nth-of-type(1) {
    text-decoration: none;
    list-style: none;
    background-color: var(--zwarte-headings);
    transform: scaleY(0);
    transition: 0.3s;
    height: 0;
    transform-origin: top;
    
}

header ul:nth-of-type(1).open {
    transform:scaleY(1);
    height: 100%;
}


header {
    background-color: var(--zwarte-headings);
    transition: 0.3s;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--huisstijl-kleur);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.3em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0.3em;
    color: var(--button-color);
}

header nav button {
    background-color: var(--zwarte-headings);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--button-color);
    font-size: 1.5em;
    border: none;
}

header section  {
    background-color: var(--huisstijl-kleur);
    padding: 1em;
    border: none;
}

nav {
    background-color: var(--zwarte-headings);
    display: block;
    

}

button:focus {
    border: 0.3em solid var(--focus-color);   
}

button:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
    transition: 0.3s;
}

a:focus {
    border: 0.3em solid var(--focus-color);
}

a:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

nav a {
    text-decoration: none;
    color: var(--button-color);
    padding: 0.4em;
    line-height: 2;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;

}

nav ul a:hover {
    color: var(--hover-color);
    transform: scale(0.1);
    transition: 0.3s;
}

nav ul.open {
	transform:scaleY(1);
    
}

nav button.open {
    content: "X";
}

nav ul {
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    list-style: none;
    padding-left: 1em;

}


.afbeeldingknoppen {
    background-image: url("../imgs/backgroundimagesection.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    z-index: 20;
   
}

.afbeeldingknoppen h1{
    font-size: 3em;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    text-align: center;
    color: var(--heading-color);
    padding: 1em;
    padding-top: 4em;
}


.afbeeldingknoppen img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;

}

.afbeeldingknoppen img:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}


footer {
    background-color:var(--huisstijl-kleur);
}

footer h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 4em;
    padding-bottom: 0;
    margin-bottom: 0%;
    
}

footer h5 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    color: var(--secondary-color);
    text-align: center;
    margin-left: 4em;
    margin-right: 2em;
    padding: 3em;
    padding-top: 0.5em;
    color: var(--heading-color);
}

form {
    margin-left: auto;
    margin-right: auto;
    padding: 0 2em ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    color: var(--secondary-color);
    width: 100%;
    text-transform: uppercase;
    font-weight: 800;
}

input[type=text]:focus {
    border: 0.3em solid var(--focus-color);                       
}

select:focus {
    border: 0.3em solid var(--focus-color);                       
}

input[type=text]:hover {
    transform: scale(1.05);
    transition: 0.3s;                   
}

select:hover {
    transform: scale(1.05);
    transition: 0.3s;                       
}

footer button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--zwarte-headings);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:var(--button-color);
    font-size: 1.2em;
    font-weight: 500;
    padding: 0.3em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 2em;
}

/* https://www.w3schools.com/css/css_form.asp */


input[type=text] {
    width: calc(100% - 1em);
    font-size: 1em;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

select {
    width: calc(100% - 1em);
    font-size: 1em;
    padding: 1em 1.3em;
    border: none;
    margin: 10px 0;
  }




